<div class="bg-white text-center dark:bg-gray-900 py-6">
  <h1
    class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
  >
    Gerenciador de Tarefas com
    <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500"
      >Notion</mark
    >
    atualizando dinâmicamente.
  </h1>
  <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
    Bem-vindo ao nosso Gerenciador de Tarefas Integrado com Notion! Nossa API
    permite que você gerencie suas tarefas de forma eficiente e em tempo real,
    diretamente no Notion.
  </p>
</div>
