<div *ngIf="isOpen" class="fixed inset-0 flex items-center justify-center z-50">
  <div class="fixed inset-0 bg-black opacity-50" (click)="onClose()"></div>
  <div
    class="bg-white p-6 rounded-lg shadow-lg z-10 w-full max-w-md mx-auto relative"
  >
    <button class="absolute close-button" (click)="onClose()">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
    <div class="text-custom-font-color">
      <ng-content></ng-content>
    </div>
  </div>
</div>
