<main class="bg-white mx-auto text-pretty dark:bg-gray-900">
  <div class="bg-white mx-auto container text-center dark:bg-gray-900">
    <h1
      class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
    >
      Genreciamento de Tarefas com
      <span class="text-blue-600 dark:text-blue-500">Notion</span> API.
    </h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
      Gerenciador de Tarefas integrado com uma API externa que está integrado ao
      Notion, todas as tarefas feitas aqui serão atualizadas tambem no Notion.
    </p>
  </div>
  <div
    class="bg-white mx-auto mt-10 container text-pretty dark:bg-gray-900 py-6"
  >
    <p class="mb-3 text-gray-500 dark:text-gray-400">
      Com a nossa API, você pode criar, ler, atualizar e excluir tarefas no
      Notion, tudo isso por meio de simples chamadas HTTP. Além disso, nossa API
      está sempre atualizada em tempo real, o que significa que as alterações
      que você fizer serão refletidas instantaneamente no Notion.
    </p>
    <p class="text-gray-500 dark:text-gray-400">
      Se você está procurando uma maneira fácil e eficiente de gerenciar suas
      tarefas no Notion, então a nossa API é a solução perfeita. Comece hoje
      mesmo e descubra como nossa API pode ajudá-lo a ser mais produtivo e
      organizado!
    </p>
  </div>
  <div
    class="bg-white mx-auto container text-justify mt-10 dark:bg-gray-900 py-6"
  >
    <h1
      class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"
    >
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
        >Notion API</span
      >
      Reativo.
    </h1>
    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
      O nosso Gerenciador de Tarefas Integrado com Notion! Nossa API permite que
      você gerencie suas tarefas de forma eficiente e em tempo real, diretamente
      no Notion.
    </p>
  </div>

  <div class="justify-center text-center mt-14">
    <blockquote
      class="text-xl italic font-semibold text-gray-900 dark:text-white"
    >
      <p>
        "Criação rápida de novas tarefas com títulos, descrições e datas de
        vencimento Leitura fácil de tarefas existentes, incluindo status,
        prioridade e etiquetas Atualização em tempo real de tarefas, permitindo
        que você as marque como concluídas, as atualize ou as exclua conforme
        necessário Integração completa com o Notion, permitindo que você veja
        suas tarefas no contexto de outras informações importantes"
      </p>
    </blockquote>
    <figcaption
      class="flex items-center justify-center mt-10 space-x-3 rtl:space-x-reverse"
    >
      <img
        class="w-6 h-6 rounded-full"
        src="https://i.imgur.com/thWBSJX.jpg"
        alt="profile picture"
      />
      <div
        class="flex items-center divide-x-2 rtl:divide-x-reverse divide-gray-500 dark:divide-gray-700"
      >
        <cite class="pe-3 font-medium text-gray-900 dark:text-white"
          >Robson Ferreira</cite
        >
        <cite class="ps-3 text-sm text-gray-500 dark:text-gray-400"
          >CEO na Fox Hound</cite
        >
      </div>
    </figcaption>
  </div>
</main>
